@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor0:#FF230F;
    --cor1:#f0f0f0;
    --cor2:#B3190B;
    --cor3:#38201E;
    --cor4:#801208;
    --fontMenu:'Pacifico';
    --fontP:'Roboto';
    --fontH:"roboto condensed";
}
p{
    text-align:justify    
}
body{
    background-color: var(--cor1);
}
header{
    background-image: linear-gradient(to bottom,var(--cor0),var(--cor2));
    font-family: var(--fontH);
    color: whitesmoke;
    font-size:1.4rem
}
#menu ul{
    background-color: var(--cor0);
    list-style: none;
    font-family:var(--fontMenu);
    width: 100%;
    float: left;
    font-size: 1.3rem;
}
#menu ul li{display:inline}
#menu ul li a{
    background-color: var(--cor0);
    color: var(--cor3);
    padding: 4px 12px;
    float: left;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: var(--cor1);
    color: var(--cor3);
    transition-duration: 0.8s;
}
main{
    width: 1000px;
    margin: auto;
    padding: 15px;
    font-family: var(--fontP);
    line-height:1.5rem;
    
}
main img{
    width: 100%;
}
main img.img1{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding:15px;
}
main img.img2{
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding:20px;
}
main ul{
    list-style: none;
    color: grey;
}
footer{
    background-color: var(--cor0);
    margin-top: 55px;
    font-family: var(--fontP);
}
footer > p{
 text-align: center;
 line-height: 1.2rem;
}
@media screen and (min-device-width:280px){
    body{
        width: 100%;
    }
    main{
        width: 80%;
    }
    footer{
        width: 100%;
    }
}